
/*
 * Deutsche Welle Theme
 * --------------------
 *
 */

body.chart {
    font: 13px/18px Georgia,serif;
    margin:0;
    overflow: hidden;
    background: #E6E3E0!important;
    height:100%;
}

#widget-header {
    background: #666;
    color: #fff;
    height: 30px;
    margin-bottom:10px;
}

#widget-header h1 {
    font: 17px/30px normal Georgia,serif;
    padding-left: 20px;
    margin: 0;
    overflow:hidden;
}
#intro p{
    margin-bottom:10px!important;
    padding:0 10px!important;
    max-height:54px!important;
    overflow:hidden;
}
#header{
    padding-top:10px;
    padding-left:10px;
    font: 13px/18px Georgia,serif;
}
#chart{
    margin:10px;
}

.line-chart .label span {
    background: #E6E3E0!important;
    height:100%;
}

#footer {
    margin: 10px 0 5px;
    position:absolute;
    bottom:0px;
    left:0px;
    font: 11px/11px normal Arial,sans-serif;
    color: #888;
    height:11px!important;
    width:100%;
}
.footer-left, .footer-right{
    position:relative!important;
    bottom:0px!important;
}
.footer-left {
    float: left;
    margin-left:5px;
}
.footer-right {
    float: right;
    margin-right:5px;
}
#footer a{
    text-decoration:none;
    color:#888;
}
#footer a:hover{
    color:#000;
}

/*
* Rest
*/

/*.chart p { margin: 15px 0; line-height: 19px; padding: 0 10px;}*/

.label span {
    font-size: 12px;
    color: #000;
    font-family: Arial;
}

.label.highlighted, .label.axis {
    font-size: 12px;
    z-index: 100;
}

.label.hover {
    font-weight: bold;
}

.label.inverted span {
    color: #fff;
}

.label.highlighted {
    font-weight: bold;
}

.label.value span {
    font-size: 12px;
}

.label.series span {
    font-size: 12px;
}


.tooltip {
    z-index: 200;
    padding-bottom: 0px;
}

.tooltip .content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 5px 8px;
}

.tooltip label {
    font-weight: 700;
}

.tooltip label:after {
    content: ": ";
}
svg .axis, svg .tick, svg .grid, svg rect {
    shape-rendering: crispEdges;
}

@media screen and (max-width: 601px) {
    #intro, #header, #widget-header, h1, #footer, p, .label, .pop, #translucent_cover {
        display: none;
        position: absolute;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    #chart {
        margin: 0;
        height:100%;
    }

    body.chart { margin:0; padding: 0;}

    .widget-body {
        padding: 0;
    }
}

.label.rotate90 {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.label.smaller span {
    font-size: 80%;
}

.legend {
    position: relative;
    top: -10px;
}
#translucent_cover
{
    position: absolute;
    display:block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #000;
    opacity:.80;
}

#top_block
{
    margin:0;
    position: absolute;
    display:block;
    min-width: 350px;
    z-index: 1001;
    background: #fff;
    left: 50%;
    top: 50%;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 7px 10px #fff;
}
#popbutton {
    max-height:30px;
}